<!doctype html>
<html>
  <head>
    <title>Getting Started Extension's Popup</title>

    <!-- styles -->
    <link rel="stylesheet/less" type="text/css" href="/vendors/Metro-UI-CSS/less/modern.less">
    <link rel="stylesheet/less" type="text/css" href="/app/styles.less">

    <!-- scripts -->
    <script src="/vendors/less/less-latest.js" type="text/javascript"></script>
  </head>
  <body class="modern-ui">

    <div class="page">

      <div class="page-region">
        <div class="page-region-content">
            <div class="tile">
              <div class="brand">
                <span class="name">Music</span>
              </div>
            </div>

            <div class="tile bg-color-darken">
                <div class="tile-content">
                    <h4>QUKREOL-561</h4>
                    <h6>Olga Shutova</h6>
                    <p>User orders coupons through company profile - mobile</p>
                </div>
                <div class="brand">
                    <span class="name">Story</span>
                </div>
            </div>
        </div>
    </div>

  </div>


  </body>
</html>
