<!doctype html>
<html lang="en" ng-app="jironimo">
  <head>
    <!-- scripts -->
      <script type="text/javascript" src="/vendors/jquery/jquery-latest.js"></script>
      <script type="text/javascript" src="/vendors/angularjs/1.angular.js"></script>
      <script type="text/javascript" src="/vendors/stringjs/string-latest.js"></script>
      <script type="text/javascript" src="/vendors/lodash/lodash-latest.js"></script>
      <script type="text/javascript" src="/vendors/momentjs/moment-latest.js"></script>
      <script type="text/javascript" src="/app/lib/settings.js"></script>
      <script type="text/javascript" src="/app/lib/jira-api.js"></script>
      <script type="text/javascript" src="/app/lib/notifications.js"></script>
      <script type="text/javascript" src="/app/bootstrap-bg.js"></script>
    <!-- /scripts -->
  </head>
  <body>
    <!-- nothing here -->
  </body>
</html>
