<!doctype html>
<html lang="en" ng-app="jironimo">
  <head>
    <title>Jironimo</title>

    <!-- styles -->
    <link rel="stylesheet/less" type="text/css" href="/vendors/Metro-UI-CSS/less/modern.less">
    <link rel="stylesheet/less" type="text/css" href="/app/styles.less">

    <!-- scripts -->
    <script type="text/javascript" src="/vendors/jquery/jquery-latest.js"></script>
    <script type="text/javascript" src="/vendors/less/less-latest.js"></script>
    <script type="text/javascript" src="/vendors/angularjs/angular-latest.js"></script>
    <script type="text/javascript" src="/vendors/stringjs/string-latest.js"></script>
    <script type="text/javascript" src="/vendors/lodash/lodash-latest.js"></script>
    <script type="text/javascript" src="/vendors/momentjs/moment-latest.js"></script>
    <script type="text/javascript" src="/app/lib/settings.js"></script>
    <script type="text/javascript" src="/app/lib/jira-api.js"></script>
    <script type="text/javascript" src="/app/lib/timer.js"></script>
    <script type="text/javascript" src="/app/bootstrap.js"></script>
    <script type="text/javascript" src="/app/controllers/index.js"></script>
    <script type="text/javascript" src="/app/controllers/settings.js"></script>
  </head>

  <body class="modern-ui" ng-view>
    <!-- body -->
  </body>
</html>
