<div class="info-bar" ng-show="!issues.length && !loading">
  <h3 class="fg-darkCobalt">No data provided</h3>
  <p>No matching entries according the current JIRA&trade; query</p>
</div>

<div class="error-bar" ng-show="jiraRequestFailed">
  <h3 class="fg-white" ng-bind="jiraRequestFailed[0]"></h3>
  <p class="fg-white" ng-bind-html="jiraRequestFailed[1]"></p>
</div>

<div class="container clearfix">

  <div id="limit-per-page" class="input-control select" ng-show="!loading">
    <select ng-model="searchMaxResults" ng-change="workspaceRefresh()" integer>
      <option>16</option>
      <option>25</option>
      <option>50</option>
      <option>75</option>
      <option>100</option>
      <option>150</option>
      <option>250</option>
    </select>
  </div>

  <div class="toolbar-vertical" id="home-workspaces"
    ng-hide="workspaces.length < 2 || loading">
    <button title="{{workspace.title}}"
      ng-click="$parent.workspaceSwitchTo($index)"
      ng-repeat="workspace in workspaces"
      ng-class="{default: workspace == workspaceActive}">
      <i class="icon-{{workspace.icon}}"></i>
    </button>

    <div class="input-control text size3" id="filter"
      ng-show="filterFieldDisplay">
      <input type="text" ng-model="filterText" class="bd-darkBlue">
    </div>

    <button title="Filter"
      ng-click="filterFieldDisplay = !filterFieldDisplay"
      ng-class="{inverse: filterFieldDisplay || filterText}">
      <i class="icon-filter"></i>
    </button><!--

  --><button title="Tools" id="advanced-panel-icon"
      ng-class="{inverse: homePanelVisible}"
      ng-click="homePanelVisible = !homePanelVisible">
      <i class="icon-mouse"></i>
    </button>
  </div>

  <div id="advanced-panel"
    ng-show="!loading && homePanelVisible">
    <button title="Refresh" ng-click="workspaceRefresh()">
      <i class="icon-spin"></i>
    </button>

    <button title="Detach the current window"
      ng-if="!windowDetached"
      ng-click="windowDetach()">
      <i class="icon-new-tab-2"></i>
    </button>

    <button title="Settings" ng-click="tabSettings()">
      <i class="icon-tools"></i>
    </button>
  </div>

  <div class="tiles clearfix">
    <div id="loading" ng-show="loading"><i class="icon-clock"></i></div>

    <h3 ng-show="issues.length">{{workspaceActive.title}}</h3>

    <div class="tile padding10 {{issue._size}} bg-{{issue._colors.bg}} border-{{issue._colors.bd}} outline-{{issue._colors.ot}}"
      ng-repeat="issue in issues | filter:filterText"
      ng-dblclick="tabIssue(issue)"
      ng-class="{selected: issue._isClosed}">

      <div class="issue-icon issue-icon-status bg-{{issue._colors.bd}}" title="{{issue.fields.status.name}}"><img
        ng-src="{{issue.fields.status.iconUrl}}" alt=""></div>

      <div class="tile-content">
        <h5 class="fg-{{issue._colors.fg}}">{{issue.key}}</h5>
        <h6 class="fg-{{issue._colors.fg}}">{{issue.fields.reporter.displayName | limitTo: 16}}</h6>
        <p class="fg-{{issue._colors.fg}}">{{issue.fields.summary}}</p>
      </div>

      <div class="brand">
        <span class="name fg-{{issue._colors.fg}}" ng-hide="timer.isStarted(issue)">
          <sup ng-show="issue.fields.timeestimate">{{issue.fields.timeestimate}}</sup>
          {{issue.fields.issuetype.name}}
        </span>
        <span class="name" ng-show="timer.canBeStopped(issue)" ng-bind="timer.elapsedTime(issue)"></span>
        <span class="badge bg-lightRed" ng-show="timer.isStarted(issue)"><i class="icon-play"></i></span>
      </div>

      <tile-progress percent="{{ issue.fields.progress.percent }}"></tile-progress>

      <tile-toolbar entry="issue" timer="timer"></tile-toolbar>

      <div class="transitions bg-darker">
        <a href="#" ng-click="transition()" class="bg-white close">&times;</a>
        <div class="padding10">
          <div ng-repeat="trans in issue.transitions">
            <a href="#" class="fg-orange" ng-click="transition(issue, trans)"><small>{{trans.name}}</small></a>
          </div>
        </div>
      </div>
    </div>

    <pagination position="searchStartAt" limit="searchMaxResults" total="searchTotal"
      callback="workspaceRefresh" ng-show="!loading"></pagination>
  </div>

</div>
