<div class="page">
  <div class="page-region">
    <div class="page-region-content tiles">

      <div class="info-bar" ng-show="!issues.length && !loading">
        <h3 class="fg-color-white">No data provided</h3>
        <p>No matching entries according the current JIRA&trade; query</p>
      </div>

      <center class="padding20" ng-show="loading">
        <img src="/vendors/Metro-UI-CSS/images/preloader-w8-line-black.gif" alt="">
      </center>

      <div class="tile bg-{{issue._colors.bg}} border-{{issue._colors.bd}} outline-{{issue._colors.ot}}"
        ng-repeat="issue in issues"
        ng-dblclick="tabOpen($index)"
        ng-class="{selected: issue._isClosed}">

        <div class="issue-icon bg-{{issue._colors.bd}}"><img ng-src="{{issue.fields.status.iconUrl}}"
          alt="{{issue.fields.status.name}}" style="width: 12px; height: 12px;"></div>

        <div class="tile-content">
          <h4 class="fg-{{issue._colors.fg}}">{{issue.key}}</h4>
          <h6 class="fg-{{issue._colors.fg}}">{{issue.fields.reporter.displayName}}</h6>
          <p class="fg-{{issue._colors.fg}}">{{issue.fields.summary}}</p>
        </div>

        <div class="brand">
          <span class="name fg-{{issue._colors.fg}}" ng-hide="issue._timerEnabled">
            {{issue.fields.issuetype.name | lowercase}}
            <sup ng-show="issue.fields.timeestimate">{{issue.fields.timeestimate}}</sup>
          </span>
          <span class="badge playing" ng-show="timer.isStarted(issue)"></span>
        </div>

        <div class="progress-bar" ng-show="issue.fields.progress.percent">
          <div class="bar bg-{{issue._colors.fg}}" style="width: {{issue.fields.progress.percent}}%"></div>
        </div>

        <div class="toolbar">
          <div class="button-set">
             <button class="active" ng-show="timer.canBeStarted(issue)" ng-click="timer.start(issue)"><i class="icon-play"></i></button>
             <button class="active" ng-show="timer.canBeStopped(issue)" ng-click="timer.stop(issue)"><i class="icon-stop"></i></button>
             <button class="active" ng-click="tabOpen($index)"><i class="icon-arrow-up-right"></i></button>
             <!--
              <button class="active" ng-click="ticketInfo()"><i class="icon-info-2"></i></button>
             -->
          </div>
        </div>
      </div>

      <div class="toolbar-vertical button-set" id="home-workspaces"
        ng-hide="workspaces.length < 2 || loading">
        <button title="{{workspace.title}}"
          ng-click="$parent.workspaceSwitchTo($index)"
          ng-repeat="workspace in workspaces"
          ng-class="{active: workspace == workspaceActive}">
          <i class="icon-{{workspace.icon}}"></i>
        </button>
      </div>

    </div>
  </div>
</div>
