<div class="info-bar" ng-show="!issues.length && !loading">
  <h3 class="fg-darkCobalt">No data provided</h3>
  <p>No matching entries according the current JIRA&trade; query</p>
</div>

<div class="error-bar" ng-show="jiraRequestFailed">
  <h3 class="fg-white" ng-bind="jiraRequestFailed[0]"></h3>
  <p class="fg-white" ng-bind-html="jiraRequestFailed[1]"></p>
</div>

<div class="container clearfix">

  <div id="limit-per-page" class="input-control select" ng-show="!loading">
    <select ng-model="searchMaxResults" ng-change="workspaceRefresh()" integer>
      <option>16</option>
      <option>25</option>
      <option>50</option>
      <option>75</option>
      <option>100</option>
      <option>150</option>
      <option>250</option>
    </select>
  </div>

  <div class="toolbar-vertical" id="home-workspaces"
    ng-hide="workspaces.length < 2 || loading">
    <button title="{{workspace.title}}"
      ng-click="$parent.workspaceSwitchTo($index)"
      ng-repeat="workspace in workspaces"
      ng-class="{default: workspace == workspaceActive}">
      <i class="icon-{{workspace.icon}}"></i>
    </button>

    <div class="input-control text size3" id="filter"
      ng-show="filterFieldDisplay">
      <input type="text" ng-model="filterText" class="bd-darkBlue">
    </div>

    <button title="Filter"
      ng-click="filterFieldDisplay = !filterFieldDisplay"
      ng-class="{inverse: filterFieldDisplay || filterText}">
      <i class="icon-filter"></i>
    </button><!--

  --><button title="Tools" id="advanced-panel-icon"
      ng-class="{inverse: homePanelVisible}"
      ng-click="homePanelVisible = !homePanelVisible">
      <i class="icon-mouse"></i>
    </button>
  </div>

  <div id="advanced-panel"
    ng-show="!loading && homePanelVisible">
    <button title="Refresh" ng-click="workspaceRefresh()">
      <i class="icon-spin"></i>
    </button>

    <button title="Detach the current window"
      ng-if="!windowDetached"
      ng-click="windowDetach()">
      <i class="icon-new-tab-2"></i>
    </button>

    <button title="Settings" ng-click="tabSettings()">
      <i class="icon-tools"></i>
    </button>
  </div>

  <div class="tiles clearfix">
    <div id="loading" ng-show="loading"><i class="icon-clock"></i></div>

    <h3 ng-show="issues.length">{{workspaceActive.title}}</h3>

    <tile
      ng-repeat="issue in issues | filter:filterText"
      ng-dblclick="tabIssue(issue)"
      ng-click="issueFocus($event, issue)"
      entry="issue" timer="timer"></tile>

    <pagination position="searchStartAt" limit="searchMaxResults" total="searchTotal"
      callback="workspaceRefresh" ng-show="!loading"></pagination>
  </div>

</div>
