<div class="container container-options">

  <navigation current="colors"></navigation>

  <h1>
    Jironimo
    <small>Colors</small>
  </h1>

  <form ng-submit="save('colors', colors)">

    <div class="tab-control" data-role="tab-control" data-effect="fade[slide]">
        <ul class="tabs">
          <li ng-repeat="(frameKey, frameTitle) in {colors: 'Priority colors', theme: 'Default theme', sizes: 'Priority sizes'}"
            ng-class="{active: tabControl.colors === frameKey }"
            style="cursor: pointer;"><a ng-click="tabControl.colors = frameKey">{{ frameTitle }}</a></li>
        </ul>

        <div class="frames bg-white">
            <div class="frame" style="display: block" ng-show="tabControl.colors === 'theme'">
              <h2>Default theme</h2>

              <div class="input-control select span5">
                <select ng-model="colors.theme">
                  <option value="default">Jironimo</option>
                </select>
              </div>
            </div>
            <div class="frame" style="display: block" ng-show="tabControl.colors === 'colors'">
              <h2>Priority colors</h2>

              <div class="grid">
                <div class="row" ng-repeat="colpri in colors.priority">
                  <div class="span2 text-right">
                    <h5>{{$index+1}} <small>priority:</small></h5>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input type="text" ng-model="colpri.fg" placeholder="Foreground (fg-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input type="text" ng-model="colpri.bg" placeholder="Background (bg-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input type="text" ng-model="colpri.bd" placeholder="Border (bd-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="input-control text span2">
                      <input type="text" ng-model="colpri.ot" placeholder="Outline (ol-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input class="text-center bd-{{ colpri.bd }} ol-{{ colpri.ot }} bg-{{ colpri.bg }} fg-{{ colpri.fg }}"
                        style="outline-style: solid; outline-width: 1px;"
                        type="text" value="Example Priority" readonly="readonly">
                    </div>
                  </div>
                </div>

                <a href="http://metroui.org.ua/v2/global.html" class="button link" target="_blank">
                  <i class="icon-link"></i>
                  Click here to open the list of available colors
                </a>
              </div>
            </div>
            <div class="frame" style="display: block" ng-show="tabControl.colors === 'sizes'">
              <h2>Priority sizes</h2>

              <div class="grid">
                <div class="row" ng-repeat="(sizkey, sizval) in colors.sizes">
                  <div class="span2 text-right">
                    <h5>{{sizkey}}:</h5>
                  </div>

                  <div class="span10">
                    <div class="input-control select span4">
                      <select ng-model="colors.sizes[sizkey]">
                        <option value="half">Half</option>
                        <option value="default">Default</option>
                        <option value="double">Double</option>
                        <option value="triple">Triple</option>
                        <option value="quadro">Quadro</option>
                      </select>
                    </div>
                  </div>
                </div>

                <a href="http://metroui.org.ua/v2/tiles.html" class="button link" target="_blank">
                  <i class="icon-link"></i>
                  Click here to open the list of available sizes
                </a>
              </div>
            </div>
        </div>
    </div>
    <br>
    <input type="submit" value="{{ 'btnSave' | i18n }}" class="default">
  </form>

</div>
