<div class="container container-options">

  <div class="toolbar place-right">
    <button ng-click="goTo('/settings')"><i class="icon-key"></i></button>
    <button disabled><i class="icon-bug"></i></button>
    <button ng-click="goTo('/settings/colors')"><i class="icon-sun-3"></i></button>
    <button ng-click="goTo('/settings/timer')"><i class="icon-clock"></i></button>
    <button ng-click="goTo('/settings/about')"><i class="icon-info-2"></i></button>
  </div>

  <h1>
    Jironimo
    <small>Workspaces</small>
  </h1>

  <form class="span12"
    ng-submit="save('workspaces', workspaces)">

      <div class="span12">
        <h2>JIRA&trade; queries</h2>
      </div>

      <div class="grid">
        <div class="row" ng-repeat="workspace in workspaces">

          <div class="span2">
            <label class="input-control radio">
              <input type="radio" name="isDefault"
                ng-click="workspaceSetAsDefault(workspace)"
                ng-checked="workspace.isDefault">
              <span class="check"></span> Default
            </label>
          </div>

          <div class="span2">
            <div class="input-control text">
              <input type="text" placeholder="Label" maxlength="40" required
                ng-model="workspace.title">
            </div>
          </div>

          <div class="span6">
            <div class="input-control text">
              <input type="text" placeholder="JQL" required
                ng-model="workspace.query">
            </div>
          </div>

          <div class="span1">
            <div class="input-control text">
              <input type="text" placeholder="icon*" maxlength="18" required
                ng-model="workspace.icon">
            </div>
          </div>

          <div class="span1 text-center">
            <button ng-click="workspaceRemove(workspace)" style="margin-top: 5px;"><i
              class="icon-cancel-2"></i></button>
          </div>

        </div>
      </div>

      <a href="http://metroui.org.ua/icons.html" class="button link" target="_blank">
        <i class="icon-link"></i>
        Click here to open the list of available icons
      </a>

      <hr>

      <div>
        <button ng-click="workspaceAdd()" class="success place-right"><i
          class="icon-plus-2"></i> Add one more</button>
        <input type="submit" value="Save" class="default">
      </div>
  </form>

</div>
