<div class="container container-options">

  <div class="toolbar place-right">
    <button ng-click="goTo('/settings')"><i class="icon-key"></i></button>
    <button ng-click="goTo('/settings/jql')"><i class="icon-bug"></i></button>
    <button disabled><i class="icon-sun-3"></i></button>
    <button ng-click="goTo('/settings/timer')"><i class="icon-clock"></i></button>
    <button ng-click="goTo('/settings/about')"><i class="icon-info-2"></i></button>
  </div>

  <h1>
    Jironimo
    <small>Colors</small>
  </h1>

  <form ng-submit="save('colors', colors)">

    <div class="tab-control" data-role="tab-control" data-effect="fade[slide]">
        <ul class="tabs">
            <li class="active"><a href="#" data-frame="theme">Default theme</a></li>
            <li><a href="#" data-frame="colors">Priority colors</a></li>
            <li><a href="#" data-frame="sizes">Priority sizes</a></li>
        </ul>

        <div class="frames bg-white">
            <div class="frame" id="frame-theme">
              <h2>Default theme</h2>

              <div class="input-control select span5">
                <select ng-model="colors.theme">
                  <option value="default">Jironimo</option>
                </select>
              </div>
            </div>
            <div class="frame" id="frame-colors">
              <h2>Priority colors</h2>

              <div class="grid">
                <div class="row" ng-repeat="colpri in colors.priority">
                  <div class="span2 text-right">
                    <h5>{{$index+1}} <small>priority:</small></h5>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input type="text" ng-model="colpri.fg" placeholder="Foreground (fg-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input type="text" ng-model="colpri.bg" placeholder="Background (bg-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="input-control text">
                      <input type="text" ng-model="colpri.bd" placeholder="Border (border-*)" maxlength="30" required>
                    </div>
                  </div>

                  <div class="span4">
                    <div class="input-control text span2">
                      <input type="text" ng-model="colpri.ot" placeholder="Outline (outline-*)" maxlength="30" required>
                    </div>
                  </div>
                </div>

                <a href="http://metroui.org.ua/global.html" class="button link" target="_blank">
                  <i class="icon-link"></i>
                  Click here to open the list of available colors
                </a>
              </div>
            </div>
            <div class="frame" id="frame-sizes">
              <h2>Priority sizes</h2>

              <div class="grid">
                <div class="row" ng-repeat="(sizkey, sizval) in colors.sizes">
                  <div class="span2 text-right">
                    <h5>{{sizkey}}:</h5>
                  </div>

                  <div class="span10">
                    <div class="input-control select span4">
                      <select ng-model="colors.sizes[sizkey]">
                        <option value="half">Half</option>
                        <option value="default">Default</option>
                        <option value="double">Double</option>
                        <option value="triple">Triple</option>
                        <option value="quadro">Quadro</option>
                      </select>
                    </div>
                  </div>
                </div>

                <a href="http://metroui.org.ua/tiles.html" class="button link" target="_blank">
                  <i class="icon-link"></i>
                  Click here to open the list of available sizes
                </a>
              </div>
            </div>
        </div>
    </div>
    <br>
    <input type="submit" value="Save" class="default">
  </form>

</div>

<script type="text/javascript">
  $('div.tab-control ul.tabs a').on('click', function () {
    $(this).closest('div')
      .find('div.frame:visible').hide().end()
      .find('ul.tabs li.active').removeClass('active').end()
      .find('div.frame[id$="frame-' + $(this).data('frame') + '"]').show()
    $(this).closest('li').addClass('active');
    return false;
  });
</script>
