<div class="container container-options bg-white padding20">

  <navigation current="general"></navigation>

  <h1>
    Jironimo
    <small>{{ 'optionsGeneralTitle' | i18n }}</small>
  </h1>

  <form ng-submit="save()" class="grid" style="margin-bottom: 0">
    <notify entries="notifications"></notify>

    <div class="row">
      <div class="span1">
        <label class="input-control switch" title="Enable this account">
          <input type="checkbox" ng-model="accountSelected.enabled">
          <span ng-class="['check', {'bg-crimson': !accountSelected.enabled}]"></span>
        </label>
      </div>

      <div class="span8">
        <div class="input-control select">
          <select ng-model="accountSelected"
            ng-class="[accountSelected.enabled ? 'bg-white' : 'bg-crimson fg-white']"
            ng-options="::item as item.label for item in accountList track by item.id"></select>
        </div>
      </div>

      <div class="span3">
        <div class="button-set" style="margin-top: 2px">
          <button type="button"
            ng-if="accountList.length < 10"
            ng-click="accountAdd()"><i class="icon-plus-2 on-left"></i> Add</button>
          <button type="button" class="danger"
            ng-if="accountList.length > 1"
            ng-click="accountRemoveSelected()"><i class="icon-cancel-2 on-left"></i> Delete</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <h2>{{ 'captionOptionsAccountJiraAddress' | i18n }}</h2>

        <div class="input-control text span5">
          <input type="url" required="required"
            ng-required="true"
            ng-model="accountSelected.url"
            title="{{ 'placeholderOptionsAccountUrl' | i18n }}"
            placeholder="{{ 'placeholderOptionsAccountUrl' | i18n }}">
        </div>

        <div class="span1" style="margin-top: 4px">
          <button type="button" class="button bg-fg-darkBlue"
            ng-click="accountAuthVerify(accountSelected.url, accountSelected.timeout)">
            <i class="icon-help fg-white" ng-show="accountSelectedAuthStatus < 0"></i>
            <i class="icon-link-2 fg-red" ng-show="accountSelectedAuthStatus === 0"></i>
            <i class="icon-link fg-green" ng-show="accountSelectedAuthStatus === 1"></i>
            <i class="icon-clock fg-orange" ng-show="accountSelectedAuthStatus === 2"></i>
          </button>
        </div>

        <div class="input-control text">
          <input type="number" min="5" max="60" maxlength="2" required="required"
            ng-model="accountSelected.timeout"
            title="{{ 'placeholderOptionsAccountTimeout' | i18n }}"
            placeholder="{{ 'placeholderOptionsAccountTimeout' | i18n }}">
        </div>
      </div>

      <div class="span6">
        <div class="notice marker-on-left bg-white"
          ng-bind-html="'hintWhereToFindJiraAddress' | i18n"></div>
      </div>
    </div>

    <hr>

    <div class="row" style="background-color: #FBFBFB">
      <div class="span6" style="padding-left: 20px">
        <h2>{{ 'captionOptionsAccountSync' | i18n }}</h2>

        <label class="input-control switch">
          <input type="checkbox" ng-model="general.sync">
          <span class="check"></span>
        </label>

        <blockquote>
          <p ng-bind-html="'hintSynchroniseSettings' | i18n"></p>
        </blockquote>
      </div>

      <div class="span6">
        <div class="notice marker-on-left bg-white">
          <p ng-bind-html="'hintHowDataIsStored' | i18n"></p>
          <p ng-bind-html="'hintRequiredJiraAgile' | i18n"></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span6" style="padding-left: 20px">
        <h2>{{ 'captionSubmitExceptions' | i18n }}</h2>

        <label class="input-control switch">
          <input type="checkbox" ng-model="general.submitExceptions">
          <span class="check"></span>
        </label>

        <blockquote>
          <p ng-bind-html="'hintSubmitExceptions2' | i18n"></p>
        </blockquote>
      </div>

      <div class="span6">
        <div class="notice marker-on-left bg-white"
          ng-bind-html="'hintSubmitExceptions1' | i18n"></div>
      </div>
    </div>

    <hr>

    <input type="submit" value="{{ 'btnSave' | i18n }}" class="default">
  </form>

</div>
