<div class="container container-options bg-white padding20">

  <navigation current="jql"></navigation>

  <h1>
    Jironimo
    <small>{{ 'optionsJqlWorkspacesTitle' | i18n }}</small>
  </h1>

  <p class="place-right"><i class="icon-info"></i> {{ 'optionsJqlWorkspacesRefreshInterval' | i18n }}</p>

  <div class="span12">
    <div class="button-set">
      <button type="button"
        ng-class="{success: accountSelected === 'ALL'}"
        ng-click="accountSwitch('ALL')">{{ 'settingsWorkspaceAccountShared' | i18n }}</button>
      <button type="button"
        ng-repeat="account in accounts track by account.label"
        ng-class="{success: accountSelected === account}"
        ng-click="accountSwitch(account)">{{ ::account.label }}</button>
    </div>
  </div>

  <form class="span12" ng-submit="save()">
    <notify entries="notifications"></notify>

    <div class="grid">
      <div class="row" ng-if="!workspaces.length">
        <div class="span12 balloon top">
          <p class="padding10">
            Hey! It looks like your list is empty. Click the button below to add a new workspace.
          </p>
        </div>
      </div>

      <div class="row" ng-repeat="workspace in workspaces track by $index">

        <div class="span1">
          <i class="icon-{{workspace.icon}} place-right" style="margin-top: 11px;"></i>
        </div>

        <div class="span10">
          <div class="span2">
            <div class="input-control text">
              <input type="text" maxlength="18" required
                title="{{ 'titleOptionsJqlIcon' | i18n }}"
                placeholder="{{ 'placeholderOptionsJqlIcon' | i18n }}"
                ng-model="workspace.icon">
            </div>
          </div>

          <div class="span3">
            <div class="input-control text">
              <input type="text" maxlength="40" required
                title="{{ 'placeholderOptionsJqlTitle' | i18n }}"
                placeholder="{{ 'placeholderOptionsJqlTitle' | i18n }}"
                ng-model="workspace.title">
            </div>
          </div>

          <div class="span4">
            <div class="input-control checkbox">
                <label>
                    <input type="checkbox" ng-model="workspace.changesNotify" />
                    <span class="check"></span>
                    {{ 'optionsJqlCheckUpdates' | i18n }}
                </label>
            </div>
          </div>

          <div class="input-control textarea">
            <textarea required style="min-height: 50px;"
              title="{{ 'placeholderOptionsJqlQuery' | i18n }}"
              placeholder="{{ 'placeholderOptionsJqlQuery' | i18n }}"
              ng-model="workspace.query"></textarea>

            <div class="label info"
              ng-if="workspace.changesNotify && isQueryValidForWatch(workspace.query)">
              <i class="icon-lamp-2 place-left"></i>&nbsp;
              <span ng-bind-html="'optionsJqlDateHint' | i18n"></span>
            </div>
          </div>
        </div>

        <div class="span1 text-center" ng-if="workspaces.length > 1">
          <button type="button" class="danger" style="margin-top: 5px;"
            ng-click="remove(workspace)"><i class="icon-cancel-2"></i></button>
        </div>

      </div>
    </div>

    <button ng-click="add()" type="button" class="success">
      <i class="icon-plus-2"></i> {{ 'optionsJqlAddOne' | i18n }}
    </button>

    <a href="http://metroui.org.ua/v2/icons.html" class="button link" target="_blank">
      <i class="icon-link"></i>
      {{ 'optionsJqlAvailableIcons' | i18n }}
    </a>

    <hr>

    <div>
      <input type="submit" value="{{ 'btnSave' | i18n }}" class="default">

      <button type='button' class="primary place-right"
        ng-if="accountSelected !== 'ALL'"
        ng-click="import()" ng-disabled="importingFavorites">
        <i class="icon-spin"></i> {{ 'optionsJqlImportFavorites' | i18n }}
      </button>
    </div>
  </form>

</div>
