<div class="page secondary">
  <div class="page-header">
    <div class="page-header-content">
      <h1>
        Jironimo
        <small>Workspaces</small>
      </h1>
    </div>
  </div>

  <div class="page-region">
    <div class="page-region-content">

      <div class="toolbar">
        <a href="#/settings"><i class="icon-key"></i></a>
        <button disabled><i class="icon-bug"></i></button>
        <a href="#/settings/colors"><i class="icon-sun-3"></i></a>
        <a href="#/settings/timer"><i class="icon-clock"></i></a>
      </div>

      <form ng-submit="save('workspaces', workspaces)">

          <div class="span12">
            <h3>JIRA&trade; queries</h3>
          </div>

          <div class="grid">
            <div class="row" ng-repeat="workspace in workspaces">

              <div class="span2">
                <div class="input-control text">
                  <input type="text" ng-model="workspace.title" placeholder="Label" required>
                  <button class="helper"></button>
                </div>
              </div>

              <div class="span6">
                <div class="input-control text">
                  <input type="text" ng-model="workspace.query" placeholder="JQL" required>
                  <button class="helper"></button>
                </div>
              </div>

              <div class="span1">
                <div class="toolbar">
                  <button ng-click="workspaceRemove(workspace)"><i class="icon-cancel-2"></i></button>
                </div>
              </div>

              <div class="span3">
                <label class="input-control radio">
                  <input type="radio" name="isDefault" ng-click="workspaceSetAsDefault(workspace)" ng-checked="workspace.default">
                  <span class="helper">Default</span>
                </label>
              </div>

            </div>
          </div>

          <button ng-click="workspaceAdd()"><i class="icon-plus-2"></i> Add one more</button>
          <input type="submit" value="Save">
      </form>

    </div>
  </div>
</div>
