<div class="container container-options">

  <navigation current="account"></navigation>

  <h1>
    Jironimo
    <small>{{ 'optionsAccountTitle' | i18n }}</small>
  </h1>

  <form ng-submit="save('account', account)" class="grid">
    <notify entries="notifications"></notify>

    <div class="row">
      <div class="span6">
        <h2>{{ 'captionOptionsAccountJiraAddress' | i18n }}</h2>

        <div class="input-control text">
          <input type="url" ng-model="account.url" required="required"
            title="{{ 'placeholderOptionsAccountUrl' | i18n }}"
            placeholder="{{ 'placeholderOptionsAccountUrl' | i18n }}">
        </div>

        <div class="input-control text">
            <input type="text" maxlength="2" required="required" ng-model="account.timeout"
              title="{{ 'placeholderOptionsAccountTimeout' | i18n }}"
              placeholder="{{ 'placeholderOptionsAccountTimeout' | i18n }}">
        </div>
      </div>

      <div class="span6">
        <h2>{{ 'captionOptionsAccountJiraAuth' | i18n }}</h2>

        <div class="input-control text">
          <input type="text" ng-model="account.login" required="required"
            title="{{ 'placeholderOptionsAccountLogin' | i18n }}"
            placeholder="{{ 'placeholderOptionsAccountLogin' | i18n }}">
        </div>

        <div class="input-control text">
          <input type="password" ng-model="account.password"
            title="{{ 'placeholderOptionsAccountPassword' | i18n }}"
            placeholder="{{ 'placeholderOptionsAccountPassword' | i18n }}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <h2>{{ 'captionOptionsAccountSync' | i18n }}</h2>

        <label class="input-control switch">
            <input type="checkbox" ng-model="account.sync">
            <span class="check"></span>
        </label>

        <blockquote>
          <p ng-bind-html="'hintSynchroniseSettings' | i18n"></p>
        </blockquote>
      </div>

      <div class="span6">
        <div class="notice marker-on-right bg-white">
          <p ng-bind-html="'hintHowCredentialsAreStored' | i18n"></p>
          <p ng-bind-html="'hintRequiredJiraAgile' | i18n"></p>
        </div>
      </div>
    </div>

    <hr>

    <input type="submit" value="{{ 'btnSave' | i18n }}" class="default">
  </form>

</div>
