<div class="container container-options">

  <div class="toolbar place-right">
    <button disabled><i class="icon-key"></i></button>
    <button ng-click="goTo('/settings/jql')"><i class="icon-bug"></i></button>
    <button ng-click="goTo('/settings/colors')"><i class="icon-sun-3"></i></button>
    <button ng-click="goTo('/settings/timer')"><i class="icon-clock"></i></button>
    <button ng-click="goTo('/settings/about')"><i class="icon-info-2"></i></button>
  </div>

  <h1>
    Jironimo
    <small>Account</small>
  </h1>

  <form ng-submit="save('account', account)" class="grid">

    <div class="row">
      <div class="span6">
        <h2>JIRA&trade; address</h2>

        <div class="input-control text">
          <input type="url" ng-model="account.url" required="required"
            placeholder="https://jira.atlassian.com or https://website.com/jira">
        </div>

        <div class="input-control text">
            <input type="text" maxlength="2" required="required" ng-model="account.timeout"
              placeholder="Connection timeout in seconds">
        </div>
      </div>

      <div class="span6">
        <h2>JIRA&trade; account information</h2>

        <div class="input-control text">
          <input type="text" ng-model="account.login" required="required" placeholder="Login">
        </div>

        <div class="input-control text">
          <input type="password" ng-model="account.password" placeholder="Password">
        </div>
      </div>
    </div>

    <div class="row">
      <!--
        <div class="span6">
          <h2>HTTP Authorization</h2>

          <div class="input-control text">
            <input type="text" ng-model="account.http.login" placeholder="Login">
          </div>

          <div class="input-control text">
            <input type="password" ng-model="account.http.password" placeholder="Password">
          </div>
        </div>
      -->

      <div class="span6">
        <h2>Synchronise settings</h2>

        <label class="input-control switch">
            <input type="checkbox" ng-model="account.sync">
            <span class="check"></span>
        </label>

        <blockquote>
          <p>
            Settings for the current extension will be available on different devices
            (the chrome sync is used)
          </p>
        </blockquote>
      </div>
    </div>

    <hr>

    <input type="submit" value="Save" class="default">
  </form>

</div>
