<div class="page secondary">
  <div class="page-header">
    <div class="page-header-content">
      <h1>
        Jironimo
        <small>Colors</small>
      </h1>
    </div>
  </div>

  <div class="page-region">
    <div class="page-region-content">

      <div class="toolbar">
        <a href="#/settings"><i class="icon-key"></i></a>
        <a href="#/settings/jql"><i class="icon-bug"></i></a>
        <button disabled><i class="icon-sun-3"></i></button>
        <a href="#/settings/timer"><i class="icon-clock"></i></a>
        <a href="#/settings/about"><i class="icon-info-2"></i></a>
      </div>

      <form ng-submit="save('colors', colors)">
        <div class="span12">
          <h3>Default theme</h3>
        </div>

        <div class="input-control select span6">
          <select ng-model="colors.theme">
            <option value="default">Jironimo</option>
          </select>
        </div>

        <div class="span12">
          <h3>Priority colors</h3>
        </div>

        <div class="grid">
          <div class="row" ng-repeat="colpri in colors.priority">
            <div class="span1"><h4>{{$index+1}} <small>priority</small></h4></div>

            <div class="span2">
              <div class="input-control text">
                <input type="text" ng-model="colpri.fg" placeholder="Foreground (fg-*)" maxlength="30" required>
              </div>
            </div>

            <div class="span2">
              <div class="input-control text">
                <input type="text" ng-model="colpri.bg" placeholder="Background (bg-*)" maxlength="30" required>
              </div>
            </div>

            <div class="span2">
              <div class="input-control text">
                <input type="text" ng-model="colpri.bd" placeholder="Border (border-*)" maxlength="30" required>
              </div>
            </div>

            <div class="span2">
              <div class="input-control text">
                <input type="text" ng-model="colpri.ot" placeholder="Outline (outline-*)" maxlength="30" required>
              </div>
            </div>
          </div>
        </div>

        <div>
          <input type="submit" value="Save">
        </div>
      </form>

    </div>
  </div>
</div>
