<div class="container container-options">

  <navigation current="timer"></navigation>

  <h1>
    Jironimo
    <small>{{ 'optionsTimerTitle' | i18n }}</small>
  </h1>

  <form ng-submit="save('timer', timer)">
    <notify entries="notifications"></notify>

    <h2>{{ 'optionsTimerWorkspaces' | i18n }}</h2>
    <div class="input-control text span6">
      <input type="text" maxlength="4" required
        title="{{ 'placeholderOptionsTimerRefreshInterval' | i18n }}"
        placeholder="{{ 'placeholderOptionsTimerRefreshInterval' | i18n }}"
        ng-model="timer.workspace">
    </div>

    <h2>{{ 'optionsTimerTimelog' | i18n }}</h2>
    <div class="grid">
      <div class="row">
        <div class="span6">
          <label class="input-control switch">
              <input type="checkbox" ng-model="timer.enabled">
              <span class="check"></span>
              {{ 'optionsTimerEnableTimelog' | i18n }}
          </label>
        </div>

        <div class="span6" ng-show="timer.enabled">
          <label class="input-control switch">
              <input type="checkbox" ng-model="timer.singleton">
              <span class="check"></span>
              {{ 'optionsTimerTimelogOnlyOneActive' | i18n }}
          </label>
        </div>

      </div>
    </div>

    <hr>

    <input type="submit" value="{{ 'btnSave' | i18n }}" class="default">
  </form>

</div>
