<div class="container container-options">

  <div class="toolbar place-right">
    <button ng-click="goTo('/settings')"><i class="icon-key"></i></button>
    <button ng-click="goTo('/settings/jql')"><i class="icon-bug"></i></button>
    <button ng-click="goTo('/settings/colors')"><i class="icon-sun-3"></i></button>
    <button ng-click="goTo('/settings/timer')"><i class="icon-clock"></i></button>
    <button disabled><i class="icon-info-2"></i></button>
  </div>

  <h1>
    Jironimo
    <small>About</small>
  </h1>

  <div class="grid">
    <div class="row">
      <div class="span6">
        <h2>Version</h2>
        <p>
          <b>##VERSION##</b>
          &lt;<a href="http://github.com/kkamkou/chrome-jironimo" target="_blank">http://github.com/kkamkou/chrome-jironimo</a>&gt;
        </p>
      </div>
      <div class="span6">
        <div>
          <h2>Author</h2>
          <p>Kanstantsin Kamkou &lt;kkamkou@gmail.com&gt;</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="row">
      <div class="span6">
        <div>
          <h2>Icons</h2>
          <p>
            Wireframe mono icons<br>
            &lt;<a href="http://www.gentleface.com/" target="_blank">http://www.gentleface.com/</a>&gt;
          </p>
          <p>
            The Noun Project (National Park Service)<br>
            &lt;<a href="http://www.nps.gov/index.htm" target="_blank">http://www.nps.gov/index.htm</a>&gt;
          </p>
        </div>
      </div>
      <div class="span6">
        <div>
          <h2>Third-party software</h2>
          <p>
            <a href="http://metroui.org.ua/" target="_blank">Metro-UI-CSS</a>,
            <a href="http://jquery.com/" target="_blank">jQuery</a>,
            <a href="http://lesscss.org/" target="_blank">{less}</a>,
            <a href="http://angularjs.org/" target="_blank">Angular.js</a>,
            <a href="http://momentjs.com/" target="_blank">Moment.js</a>,
            <a href="http://lodash.com/" target="_blank">Lo-Dash</a>,
            <a href="http://stringjs.com/" target="_blank">string.js</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>License</h2>
  </div>

  <div class="bg-darkBlue padding20">
    <h4 class="fg-white">Boost Software License 1.0 (BSL-1.0)</h4>
    <p class="fg-lime">Permission is hereby granted, free of charge, to any person or organization obtaining a copy of the software and accompanying documentation covered by this license (the "Software") to use, reproduce, display, distribute, execute, and transmit the Software, and to prepare derivative works of the Software, and to permit third-parties to whom the Software is furnished to do so, all subject to the following:</p>
    <p class="fg-lime">The copyright notices in the Software and this entire statement, including the above license grant, this restriction and the following disclaimer, must be included in all copies of the Software, in whole or in part, and all derivative works of the Software, unless such copies or derivative works are solely in the form of machine-executable object code generated by a source language processor.</p>
    <p class="fg-lime">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR ANYONE DISTRIBUTING THE SOFTWARE BE LIABLE FOR ANY DAMAGES OR OTHER LIABILITY, WHETHER IN CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
  </div>

</div>
