@import '/themes/default/variables.less';

body {
  padding-left: 10px;
  background: @popupBackground;
  min-width: @popupMinWidth;
  min-height: @popupMinHeight;
  overflow-x: hidden;
}

.input-control > input[type="text"],
.input-control > input[type="email"],
.input-control > input[type="url"],
.input-control > input[type="phone"],
.input-control > input[type="password"],
.input-control > select,
.input-control > textarea{
  padding-right: 6px;
}

label.radio {
  margin-top: 6px;
}

div.tile .progress-bar{
  position: relative;
  top: -7px;
}

.tile .tile-content h4, .tile .tile-content h6, .tile .tile-content p{ line-height: 18px!important; }
.tile .tile-content p{ height: 70px; }

.tile .toolbar{ display: none; position: absolute; bottom: 0; background-color: rgba(0,0,0,0.6); width: 100%; height: 32px; z-index: 1; }
.tile .badge{ z-index: 1; }

.tile .issue-icon{ position: absolute; right: 0; top: 0; width: 13px; height: 13px; text-align: center; }
.tile .issue-icon img{ vertical-align: top; width: 12px; height: 12px; }

#home-workspaces{ position: absolute; right: 0; }

.error-bar, .warning-bar, .info-bar { z-index: 1002; }
